@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Nunito:wght@300;400;600;700;800;900&family=Russo+One&family=Spartan:wght@700;800;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.expense-tracker {
  display: flex;
  gap: 32px;
}

.expense-form {
  width: 100%;
}

.expense-table {
  width: 100%;
  border-collapse: collapse;
  align-self: flex-start;
}

#title,
#amount {
  display: flex;
  flex-wrap: wrap;
}

#sorting-arrows {
  display: flex;
  flex-wrap: nowrap;
}

.title-column span,
.amount-column span {
  margin-right: 16px;
}

.arrow {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.down-arrow {
  margin-left: 6px;
}

.add-btn {
  width: 100%;
  margin-top: 16px;
}

#category select {
  min-width: 100px;
}

.copyright-text {
  text-align: center;
  margin-top: 32px;
  color: #a0a0a0;
  font-size: 12px;
}

@media (max-width: 900px) {
  .expense-tracker {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .title-column span,
  .amount-column span {
    margin-right: 0;
  }
}
